.sectionCommon {
  @apply py-10  md:py-[52px] xl:py-6;
}

.sectionEst {
  @apply bg-gradient-to-b from-blue-200 to-white shadow-card;
  background: linear-gradient(180deg, #bfdbfe 0%, #ffffff 100%);
}
.section {
  @apply drop-shadow-card;
  background: linear-gradient(360deg, #bfdbfe -39.06%, #ffffff 100%);
}

/* .section {
  @apply drop-shadow-[8px_8px_12px_rgba(84,131,201,0.5)];
  background: linear-gradient(360deg, #bfdbfe -39.06%, #ffffff 100%);
  /* box-shadow: 0px 8px 12px rgba(84, 131, 201, 0.5); */
/* }  */

@media screen and (min-width: 1280px) {
  .section {
    /* @apply drop-shadow-none; */
    /* background: linear-gradient(
      349.27deg,
      #bfdbfe -23.79%,
      rgba(255, 255, 255, 0.5) 51.12%
    ); */
    background: linear-gradient(
      0deg,
      #bfdbfe -172%,
      rgba(255, 255, 255, 0.5) 50%
    );
  }
}

.wrapper {
  @apply container text-center md:flex md:flex-row md:items-center md:justify-between;
}

.flower {
  @apply hidden h-[113px] w-[175px] xl:mr-[45px] xl:block;
}

.content {
  @apply mb-6 text-[24px] leading-[28px] text-slate-600 md:mb-0 md:text-[34px] md:leading-[44px];
}
