.section {
  @apply pt-20 pb-[294px] text-blueAccent sm:pb-[456px] md:pb-[368px] md:pt-[124px] xl:pt-[100px] xl:pb-[454px];
  background-position: center bottom;
  background-image: url('/image/hero/hero-320.svg');
  background-size: 310px;
  background-repeat: no-repeat;
}
@media screen and (min-width: 480px) {
  .section {
    background-image: url('/image/hero/hero-480.svg');
    background-size: 455px;
  }
}
@media screen and (min-width: 768px) {
  .section {
    background-image: url('/image/hero/hero-768.svg');
    background-size: 736px;
  }
}
@media screen and (min-width: 1280px) {
  .section {
    background-image: url('/image/hero/hero-1280.svg');
    background-size: 1250px;
  }
}
.wrapper {
  @apply mx-auto flex max-w-[280px] flex-col gap-8 sm:m-0 sm:max-w-[440px] md:max-w-[558px] md:gap-10;
}
.title {
  @apply text-[40px] font-medium uppercase leading-[46px] md:text-[60px] md:leading-[64px];
}
.text {
  @apply max-w-[260px] text-middle font-normal md:max-w-[497px] md:text-[30px] md:font-medium md:leading-[39px];
}
