.section {
  @apply py-[42px] sm:py-10 md:py-[38px] xl:pb-[60px] xl:pt-9;
}
@media screen and (min-width: 768px) {
  .container {
    background-position: left center;
    background-repeat: no-repeat;
    background-image: url('/image/form/form-768.svg');
    background-size: 210px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    background-position: left 20px center;
    background-image: url('/image/form/form-1280.svg');
    background-size: 468px;
  }
}
.wrapper {
  @apply w-full md:ml-auto md:w-[518px] xl:w-[522px] xl:pt-6;
}
.title {
  @apply mb-[28px] text-big font-medium text-fontGrey md:mb-3 md:text-large md:font-normal;
}
.subTitle {
  @apply mb-9 text-small font-normal text-fontGrey;
}
.wrapperInputs {
  @apply mb-[50px] grid grid-cols-1 gap-y-[54px] sm:mb-[64px];
}
.inputWrapper {
  @apply relative w-full;
}
.input {
  @apply w-full rounded-lg border-2 border-blueAccent py-3 px-[9px];
}
.inputRed {
  @apply w-full rounded-lg border-2 border-redAccent py-3 px-[9px] text-redAccent;
}
.textarea {
  @apply h-[150px] w-full resize-none rounded-lg border-2 border-blueAccent py-4 px-[9px];
}
.textareaRed {
  @apply h-[150px] w-full resize-none rounded-lg border-2 border-redAccent py-4 px-[9px] text-redAccent;
}
.input::placeholder,
.textarea::placeholder,
.inputRed::placeholder,
.textareaRed::placeholder {
  @apply text-small font-normal text-fontGreyLight;
}
.input:not(:placeholder-shown),
.textarea:not(:placeholder-shown) {
  @apply border-fontBlueDark text-fontBlueDark;
}
.input:focus,
.inputRed:focus,
.textarea:focus,
.textareaRed:focus {
  @apply border-yellowAccent text-yellowAccent outline-0;
}
.errorMsg {
  @apply absolute w-full text-[14px] font-normal leading-[24px] text-redAccent;
}
.errorMsgTextarea {
  @apply absolute w-full text-[14px] font-normal leading-[24px] text-redAccent;
}
.button {
  @apply block h-[56px] min-w-full rounded-lg border border-blueAccent !bg-blueAccent text-middle font-normal !text-white transition-all sm:min-w-[210px];
}
.button:hover,
.button:focus {
  @apply !bg-blueDark !text-white outline-none;
}
.button:active {
  @apply border-yellowAccent !bg-yellowAccent !text-fontGrey;
}
.loading {
  @apply text-[30px] font-medium leading-[46px] text-blueAccent md:text-[40px];
}
