.link {
  @apply fixed bottom-10 right-5 h-12 w-12 cursor-pointer rounded-full bg-yellowAccent shadow-xl transition-colors hover:bg-yellow-200 md:right-6;
}
.icon {
  @apply absolute top-1/2 left-1/2 h-6 w-6 translate-y-[-50%] translate-x-[-50%];
}
