.section {
  @apply py-[80px] md:py-20 xl:pt-[100px] xl:pb-10;
}

.cardBox {
  @apply grid gap-x-[20px] gap-y-10 md:grid-cols-2 xl:grid-cols-3;
}

.card {
  @apply flex h-[518px] flex-col rounded-[32px] bg-slate-50 p-6 text-slate-600 shadow-card max-md:w-full sm:max-w-[440px] md:max-w-[338px] xl:h-[542px] xl:max-w-[412px];
}

.imageWrapper {
  @apply h-full w-full object-cover object-center;
}

.cardTitle {
  @apply mb-4 text-left text-big font-medium text-fontGrey;
}

.cardDescription {
  @apply overflow-hidden text-left text-small font-normal text-fontGrey;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.btnChoose {
  @apply mx-auto mt-auto block h-[56px] w-[194px];
}
