.sectionCommon {
  @apply py-10  md:py-[52px] xl:py-6;
}

.sectionEst {
  @apply shadow-main md:shadow-help;
  background: linear-gradient(360deg, #bfdbfe -39.06%, #ffffff 100%);
}

.section {
  @apply drop-shadow-main md:shadow-help md:drop-shadow-none;
  background: linear-gradient(360deg, #bfdbfe -39.06%, #ffffff 100%);
}

@media screen and (min-width: 1280px) {
  .sectionEst {
    background: linear-gradient(180deg, #bfdbfe 0%, #ffffff 100%);
  }
}

.wrapper {
  @apply container text-center md:flex md:flex-row md:items-center md:justify-between;
}

.flowerEst {
  @apply hidden h-[113px] w-[175px]  xl:block;
}

.flower {
  @apply hidden h-[113px] w-[175px]  xl:mr-4 xl:block;
}

.content {
  @apply mb-6 text-big font-medium text-fontGrey md:mb-0 md:text-large md:font-normal;
}

.buttonType {
  @apply mx-auto mt-6 w-[146px] bg-blueAccent !px-14 text-white md:mx-0 md:mt-0 xl:ml-7;
}

.buttonLink {
  @apply mx-auto mt-[26px] w-[280px] sm:w-[190px] md:mx-0 md:mt-0;
}
