.modal {
  @apply pointer-events-none fixed top-0 left-0 right-0 bottom-0 z-10 flex items-center justify-center bg-slate-600/[.5] opacity-0 transition-all;
}
.modalShow {
  @apply pointer-events-auto fixed top-0 left-0 right-0 bottom-0 z-10 flex items-center justify-center bg-slate-600/[.5] opacity-100 transition-all;
}
.wrapper {
  @apply relative flex rounded-[20px] bg-white p-[28px] pb-[58px] text-center md:h-[510px] md:w-[600px] md:p-[45px] xl:w-[710px];
}
@media screen and (min-width: 768px) {
  .wrapper {
    background-position: center;
    background-image: url('/image/form/bg-768.svg');
    background-size: 580px;
    background-repeat: no-repeat;
  }
}
@media screen and (min-width: 1280px) {
  .wrapper {
    background-position: center;
    background-image: url('/image/form/bg-1280.svg');
    background-size: 680px;
    background-repeat: no-repeat;
  }
}
.innerWrapper {
  @apply m-auto grid w-[224px] justify-items-center px-[46px] py-20 sm:w-[324px] md:w-[370px] md:rounded-[20px];
}
@media screen and (min-width: 768px) {
  .innerWrapper {
    box-shadow: -2px -2px 12px rgba(84, 131, 201, 0.25),
      2px 2px 12px rgba(84, 131, 201, 0.25);
  }
}
.button {
  @apply absolute right-[28px] rounded-full stroke-blueAccent p-[11px] transition-colors hover:bg-blueAccent hover:stroke-white focus:bg-blueAccent focus:stroke-white md:right-[45px];
}
.close {
  @apply h-[15px] w-[15px];
}
.mail {
  @apply h-[77px] w-[94px];
}
.title {
  @apply mb-5 text-fModalTitle md:text-fModalmdTitle;
}
.text {
  @apply text-fModalText xl:text-fModalxlText;
}
.link {
  @apply flex items-center;
}
.telegramLink {
  @apply text-fModalText text-fontBlueDark xl:text-fModalxlText;
}
