@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply relative bg-slate-50 font-sans font-normal;
}

/* Styles for phone input */
.selected-flag {
  @apply !bg-transparent;
}

.flag {
  @apply scale-[2] rounded;
}

.arrow {
  position: relative;
  top: 4px !important;
  margin-top: 0 !important;
  left: 27px !important;
  width: 7px !important;
  height: 7px !important;
  border: 1px solid #93989e !important;
  border-left: 0 !important;
  border-top: 0 !important;
  transform: rotate(225deg);
}

.up {
  top: 0 !important;
  border: 1px solid #93989e !important;
  border-left: 0 !important;
  border-top: 0 !important;
  transform: rotate(45deg);
}

.country-name {
  @apply !ml-[16px];
}

.dial-code {
  @apply !ml-[10px] !text-[#93989E];
}

.react-tel-input:focus-within .arrow {
  border: 1px solid #ffd500 !important;
  border-left: 0 !important;
  border-top: 0 !important;
}

.react-tel-input:focus-within .form-control {
  @apply !border-[#ffd500] text-[#ffd500] outline-0;
}

.country {
  @apply rounded !py-4 !pl-[21px];
}

.highlight {
  @apply !bg-[#ffd500];
}
