@tailwind base;

@layer base {
  .invisible-scrollbar::-webkit-scrollbar {
    display: none;
  }
  ::-webkit-scrollbar {
    @apply !w-[11px] rounded-[8px] bg-transparent;
  }
  ::-webkit-scrollbar-thumb {
    @apply !box-border rounded-[8px] bg-blueAccent; /*color trackbar*/
  }
  ::-webkit-scrollbar-track {
    @apply rounded-[8px];
    box-shadow: inset 0 0 2px 2px rgba(141, 172, 222, 0.3);
  }
  ::-webkit-scrollbar-button {
    @apply hidden;
  }
}

@tailwind components;
@tailwind utilities;

* {
  scrollbar-width: thin !important;
  scrollbar-color: #60a5fa #f8fafc;
}

body {
  @apply relative scroll-smooth bg-slate-50 font-sans font-normal;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h2:first-of-type {
  margin-top: 0 !important;
}

.main-prose {
  @apply prose-headings:text-fontGrey prose-h2:before:absolute prose-h2:before:left-[-58px] prose-h2:before:top-[-3px] prose-h2:before:block prose-p:text-fontGrey prose-a:break-words prose-a:text-blueAccent prose-a:transition-colors prose-a:duration-300 hover:prose-a:text-yellowAccent focus:prose-a:text-yellowAccent prose-strong:font-medium prose-strong:text-fontGrey prose-em:not-italic prose-ul:list-none prose-ul:pl-0 prose-li:relative prose-li:my-[18px] prose-li:pl-0 prose-li:before:absolute prose-li:before:left-[-50px] prose-li:before:content-[url('/image/check-mark-light.svg')] md:prose-h2:before:content-[url('/image/check-mark.svg')];
}

.small-mobile-prose {
  @apply prose-h2:relative prose-h2:mt-[56px] prose-h2:mb-[16px] prose-h2:text-big prose-h2:font-medium prose-h2:before:absolute prose-h2:before:left-[-45px] prose-h2:before:top-[3px] prose-h2:before:block prose-h2:before:content-[url('/image/check-mark-mob.svg')] prose-h3:mt-2 prose-h3:mb-0 prose-h3:text-small prose-p:mt-2 prose-p:mb-0 prose-p:text-small prose-strong:text-[18px] prose-strong:leading-[28px] prose-em:mt-[56px] prose-em:mb-[16px] prose-em:block prose-em:text-big prose-em:font-medium prose-em:text-blueAccent prose-li:my-3 prose-li:text-small prose-li:before:left-[-44px];
}

.big-mobile-prose {
  @apply sm:prose-h2:mb-[20px] sm:prose-h2:before:left-[-58px] sm:prose-h2:before:top-[-3px] sm:prose-h2:before:content-[url('/image/check-mark.svg')] sm:prose-p:mt-3 sm:prose-strong:text-small sm:prose-li:before:left-[-58px];
}

.tablet-prose {
  @apply md:prose-h2:mt-20 md:prose-h2:mb-[25px]  md:prose-h2:before:block md:prose-h2:before:h-[25px] md:prose-h2:before:w-[25px] md:prose-h3:mt-[30px] md:prose-h3:text-[18px] md:prose-h3:font-normal md:prose-h3:leading-[22px] md:prose-p:mt-3 md:prose-p:mb-0 md:prose-p:text-[18px] md:prose-p:leading-[22px] md:prose-strong:text-big md:prose-em:mt-20 md:prose-em:mb-10 md:prose-em:block md:prose-em:text-big md:prose-em:font-medium md:prose-em:not-italic md:prose-em:text-blueAccent md:prose-li:my-3 md:prose-li:text-[18px] md:prose-li:leading-[22px];
}

.desktop-prose {
  @apply xl:prose-h2:relative xl:prose-h2:mt-20 xl:prose-h2:mb-[25px] xl:prose-h2:text-big xl:prose-h2:font-medium xl:prose-h3:text-[18px] xl:prose-h3:font-normal xl:prose-h3:leading-[22px] xl:prose-p:mt-3 xl:prose-em:relative;
}
